.banner{
    /* background-image: url(../../theme/images/bg.jpeg); */
    /* background-repeat: no-repeat; */
    /* width: 300px;
    height: 300px; */
    color: red;
}

.banner:hover{
    color: blue;
}

